<div class="col-auto">

  <%= form_with model: project do |form| %>
    <div class ="mb-3">
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "form-control" %>
      <% project.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.number_field :user_id, id: :project_user_id, value: current_user.id, type: :hidden %>
    </div>

    <div class="field">
      <%= form.label :body %>
      <%= form.rich_text_area :body %>
    </div>

    <!-- File -->
    <!-- >
    <div class="field">
      <%= form.label :file %>
      <%= form.file_field :file %>
    </div>
    <-->

    <br>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
